h1{
    color:royalblue;
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkviolet;
    padding: 50px;
    img{
    display: block;
    }

}